.top-container {
    background: linear-gradient(#0077be, #c9f6ff); ;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.h1 {
    font-family: 'Courier New', Courier, monospace;

}

